* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f5f5f5;
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}

.header {
  margin-bottom: 80px;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 160px;
  gap: 169px;
  position: relative;
  background: #f5f5f5;
  margin-bottom: 10px;
}
.nav-title {
  width: 222px;
  height: 38px;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
  color: #0e0e0e;
}
.button-1 {
  width: 116px;
  height: 52px;
  border: 2px solid #006a50;
  border-radius: 8px;
  color: #006a50;
  font-size: 20px;
  font-weight: bolder;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transition-duration: 0.4s;
  
}
.button-1:hover {
  background-color: #006a50;
  color: white;
}
/* banner style */
.banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px 10px;
  gap: 64px;
  max-width: 1280px;
  background: #c6e4d6;
  border-radius: 24px;
  margin: 0 auto;
}
.banner-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 620px;
  height: 320px;
  margin-left: 40px;
}
.banner-title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: rgba(14, 14, 14, 0.5);
  margin-bottom: 16px;
}
.motive {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 50px;
  color: #0e0e0e;
}
.btn-primary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 17px 34px;
  background: #006a50;
  border-radius: 8px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transition-duration: 0.4s;
  cursor: pointer;
}
.btn-primary:hover{
  background-color: #f5f5f5;
  color: #006a50;
}
section {
  margin: 40px 0;
}
h2 {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #0e0e0e;
}
.structure-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  width: 1280px;
  height: 324px;
  background: #ffffff;
  border: none;
  border-radius: 8px;
  margin: 0 auto;
}
.structure-box2 h2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}
.container {
  display: flex;
  justify-content: space-around;
  gap: 24px;
}
.container2 {
  justify-content: center;
  flex-direction: column;
  max-width: 1280px;
  height: auto;
  text-align: justify;
  margin: 0 auto;
}
.little-page {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 24px;
  width: 302px;
  background: #ffffff;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
}
.container h4 {
  font-size: 20px;
  color: rgba(14, 14, 14, 0.8);
}
p {
  font-size: 16px;
  line-height: 20px;
  color: rgba(14, 14, 14, 0.7);
}
.vision-box {
  display: flex;
  justify-content: space-around;
  gap: 24px;
  max-width: 1280px;
  margin: 24px auto;
}
.vision-box1 {
  align-items: flex-start;
  padding: 32px;
  width: 400px;
  height: 300px;
  background: rgba(84, 144, 245, 0.2);
  border-radius: 16px;
}
.vision-box2 {
  align-items: flex-start;
  padding: 32px;
  width: 400px;
  height: 300px;
  background: #c6e4d6;
  border-radius: 16px;
}
.vision-box3 {
  align-items: flex-start;
  padding: 32px;
  width: 400px;
  height: 300px;
  background: #f7ebcf;
  border-radius: 16px;
}

h4,
p {
  color: rgba(14, 14, 14, 0.8);
}
.vision-box h4 {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 12px 0;
}
.vision-box p {
  width: 340px;
  height: 72px;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 12px 0;
}
.container2 > h2 {
  margin-bottom: 24px;
}
.container2 > p {
  color: #0e0e0e;
  line-height: 24px;
  font-size: 16px;
}
.box-btn-1 {
  padding: 11px 30px;
  background: #5490f5;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font-size: 16px;
  margin: 24px 0;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transition-duration: 0.4s;
}
.box-btn-1:hover {
  background-color: #555555;
  color: white;
}
.box-btn-2 {
  padding: 11px 30px;
  background: #09a15c;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font-size: 16px;
  margin: 24px 0;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transition-duration: 0.4s;
}
.box-btn-2:hover {
  background-color: #555555;
  color: white;
}
.box-btn-3 {
  padding: 11px 30px;
  background: #ffc239;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font-size: 16px;
  margin: 24px 0;
  cursor: pointer;
}
.box-btn-3:hover {
  background-color: #555555;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transition-duration: 0.4s;
}
.container3 {
  background-image: url(../assets/quote-bg.png);
  background-color: #ffffff;
  background-repeat: no-repeat;
  margin: 12px 0;
  color: #0e0e0e;
  max-width: 1240px;
  text-align: justify;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
}
.text-content {
  padding: 24px;
  justify-content: center;
  justify-items: row;
}
/* Opinion-box */
.opinion-box {
  gap: 30px;
  max-width: 1280px;
  border: none;
  border-radius: 8px;
  margin: 12px auto;
}
.opinion-box > h2 {
  padding: 30px 0;
}
.table-content {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 12px 40px;
}
.table-content table {
  justify-content: center;
  padding: 24px;
  width: 1200px;
}
thead {
  background: rgba(198, 228, 214, 1);
}
table,
tr,
td {
  padding: 12px;
  font-size: 20px;
  text-align: left;
  border: 1px solid #ddd;
  border-collapse: collapse;
  color: rgba(14, 14, 14, 1);
}
select {
  padding: 10px 40px;
  background: #86e9bb;
  border: none;
  border-radius: 8px;
  color: #111111;
  font-size: 16px;
  font-weight: 600;
  margin: 24px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transition-duration: 0.4s;
}
.container4 {
  color: #0e0e0e;
  max-width: 1280px;
  text-align: justify;
  position: relative;
  margin: 0 auto;
  padding: 0px;
  border-radius: 8px;
}
.container4 > .recent-news-title h2 {
  margin-bottom: 12px;
  padding: 0;
}
.container4 > .recent-news-title p {
  margin-bottom: 12px;
}
.news-content1 {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  background: #ffffff;
  padding: 48px;
  border-radius: 24px;
  margin-bottom: 24px;
}
.news-content1 > img {
  width: 400px;
  height: 306px;
  background: url(../assets/satelite.png);
  border-radius: 24px;
}
.news-content2 {
  display: flex;
  flex-direction: row-reverse;
  gap: 24px;
  background: #ffffff;
  border-radius: 24px;
  padding: 48px;
}
.news-content2 > img {
  width: 400px;
  height: 306px;
  background: url(../assets/satelite.png);
  border-radius: 24px;
}
.text-content h3 {
  font-size: 32px;
  color: rgba(14, 14, 14, 0.8);
  height: 48px;
}
.text-content h5 {
  color: rgba(14, 14, 14, 0.7);
  padding: 12px 0;
}
.text-content .btn-news {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 20px;
  gap: 48px;
  width: 130px;
  height: 41px;
  background: #09a15c;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font-size: 16px;
  margin: 24px 0;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transition-duration: 0.4s;
}
.text-content .btn-news:hover {
  background-color: #ffc239;
  color: white;
}
.donat-sec {
  text-align: center;
  color: #0e0e0e;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px;
}
.donat-sec h2,
p {
  margin-bottom: 24px;
}
.tk {
  font-size: 32px;
  font-weight: 700;
  color: #0e0e0e;
  padding: 40px;
  background: #ffffff;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  cursor: pointer;
}
.tk:hover {
  background: #c6e4d6;
  color: black;
}
input{
  text-align: center;
  font-size: 32px;
  border-radius: 8px;
  border: none;
  width: 900px;
  height: 30px;
  padding: 20px 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.donat{
  justify-content: center;
  text-align: center;
  font-size: 20px;
color: white;
padding: 15px 30px;
background: #006A50;
border: 1px solid rgba(14, 14, 14, 0.1);
border-radius: 8px;
cursor: pointer;
margin-bottom: 20px;
}
.subscriber-box{
  background-color: rgba(198, 228, 214, 1);
  border-radius: 12px;
  font-size: medium;
}
.input-submit{
  display: flex;
  justify-content: center;
  gap: 0px;
}
.subscriber-box input[type="text"]{
  width: 300px;
  height: 20px;
  border-radius: 12px 0px 0px 12px;
  font-size: 16px;
  padding: 18px 40px;
}
.subscriber-box input[type="submit"]{
  width: 150px;
  height: 55px;
  font-weight: 600;
  border-radius: 0px 12px 12px 0px;
  background: #006A50;
  color: white;
  font-size: 16px;
  padding: 18px 40px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transition-duration: 0.4s;
}
footer{
  font-size: x-large;
  text-align: center;
  background: white;
}
a img{
  gap: 10px;
  height: 35px;
}